//  メインカラー
$primary: #1d4a96;
$secondary: #c0bfbe;

//  フォント
$font-family-sans-serif: -apple-system, "Noto Sans JP", system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: "Shippori Mincho", serif;
