.en {
  @apply mb-2 text-primary font-sansSerif text-[2rem] uppercase;
  letter-spacing: 0.3rem;
  @extend %heading;
}
.ja {
  @apply mb-2 font-serif text-[1rem];
  letter-spacing: 0.15rem;
  @extend %heading;
}
