@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sansSerif;
  }
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply text-primary;
  }
}
