.qna {
  & > section {
    @apply rounded;
    @apply bg-gray-900;
    @apply p-5;
    @apply mb-8;
    @apply border-t-4;
    @apply border-t-primary;
  }
  h2 {
    @apply text-primary;
    @apply text-xl;
    @apply font-medium;
    @apply pb-4;
    @apply border-b-white/10;
    @apply border-b;
    @apply my-4;
  }
  h3 {
    @apply text-xl;
    @apply font-medium;
    @apply mt-8;
    @apply mb-4;
    &:before {
      content: "Q";
      @apply inline-block;
      @apply bg-primary;
      @apply mr-3;
      @apply px-3;
      @apply py-2;
      @apply rounded-lg;
    }
  }
  p {
    @apply flex;
    @apply items-start;
    @apply text-sm;
    @apply mb-4;
    &:before {
      content: "A";
      @apply inline-block;
      @apply bg-gray-800;
      @apply mr-3;
      @apply px-2;
      @apply py-1;
      @apply text-sm;
      @apply rounded;
    }
  }
}
