@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");

.rules {
  h3 {
    font-size: 2rem;
    line-height: 2.4rem;

    margin: 2rem 0;
    padding: 2rem 0;
    @apply border-y border-y-white/50;
  }

  i.bi {
    @apply text-primary;
    margin-right: 0.5rem;
  }

  h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  & > p {
    font-size: 1.25rem;
    font-weight: bold;
    @apply bg-primary text-white p-2;
    /* color: lighten($primary, 15%); */

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: 1rem;
  }

  li {
    color: white;
    font-size: 0.875rem;
  }
}
