.banner {
  position: relative;
  padding: 2rem;
  @apply bg-primary text-center;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1rem solid #252525;
    border-left: 0.67rem solid transparent;
    border-right: 0.67rem solid transparent;
  }
}

.ja {
  color: #252525;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.en {
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-indent: 0.3rem;
  letter-spacing: 0.3rem;
}
